.Profile {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    height: 100vh;
}

.sidebar {
    color: white;
    height: 100%;
    margin: 15px;
}

.profs {
    margin-top: 20px;
}

.prof-link {
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: whitesmoke;
}

.prof-button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 25px;
    border-color: transparent;
}